{% extends "base.html" %}
{% block content %}
{% load static %}
{% load settings_value %}
<div class="container mb-3 text-center">
    <h3>{{ object }}</h3>

</div>

<div class="container mb-3 text-center">
    <a href="{{ object.site.get_absolute_url }}" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">{{ object.site }}</a>

</div>



<!-- Прикрепленные фото в карусели -->
<div class="container mb-5">
  {% if object.foto_set.all %}
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-theme="dark">
    <div class="carousel-indicators">
      {% for file in object.foto_set.all %}
      {% if forloop.counter0 == 0 %}
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{forloop.counter0}}"  aria-current="true" class="active"  aria-label="Slide {{forloop.counter}}"></button>
      {% else %}
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{forloop.counter0}}" aria-label="Slide {{forloop.counter}}"></button>
      {% endif %}
      {% endfor %}
    </div>
    <div class="carousel-inner">
      {% for file in object.foto_set.all %}
      <div class="carousel-item{% if forloop.counter == 1 %} active{% else %}{% endif %}">
        <img src="{% url 'file:get-foto' file.filename %}" class="d-block w-100 h-100 object-fit-contain border rounded" alt="{{file.original_name}}">
      </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  {% endif %}
</div>

<div class="container mb-3">
    <div class="row">
      <div class="col-6">
      <strong>Шифр</strong>
      </div>
      <div class="col">
        {{ object.code }}
      </div>
  </div>
  </div>


<div class="container mb-3">
  <div class="row">
    <div class="col-6">
    <strong>Описание</strong>
    </div>
    <div class="col">
      {{ object.description }}
    </div>
</div>
</div>


<div class="container mb-3">
    <div class="row">
      <div class="col">
      <strong>Годы находки</strong>
      </div>
      <div class="col">
        {{ object.find_date }}
      </div>
  </div>
  </div>


<div class="container mb-3">
    <div class="row">
      <div class="col">
      <strong>Примечание</strong>
      </div>
      <div class="col">
        {{ object.comment }}
      </div>
  </div>  
</div>

<div class="container mb-5">
  <div class="row">
    <div class="col">
    <strong>Файлы</strong>
    </div>
    <div class="col">
      {% for file in object.foto_set.all %}
      <a href="{% url 'file:get-foto' file.filename %}" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">{{file.original_name}}</a> - фотография <br>  
      {% endfor %}
      {% for file in object.file_set.all %}
      <a href="{% url 'file:get' file.filename %}" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">{{file.original_name}}</a> - другой файл <br>  
      {% endfor %}
    </div>
</div>
</div>

  <div class="container mb-3">
    <div class="row">
      <div class="col-6">
      <strong>Музейный шифр</strong>
      </div>
      <div class="col">
        {{ object.museum_code }}
      </div>
  </div>
  </div>

  <div class="container mb-3">
    <div class="row">
      <div class="col-6">
      <strong>Номер квадратa</strong>
      </div>
      <div class="col">
        {{ object.square_number }}
      </div>
  </div>
  </div>

  <div class="container mb-3">
    <div class="row">
      <div class="col-6">
      <strong>Место хранения</strong>
      </div>
      <div class="col">
        {{ object.storage }}
      </div>
  </div>
  </div>

{% include '_measurements_links.html' with id=object.code query_str=object.generate_query_string %}


<div class="container mb-3">
    <div class="row">
      <div class="col">
      <strong>Кем создано</strong>
      </div>
      <div class="col">
        {{ object.creator.first_name }} {{ object.creator.last_name }}<br>
        {{ object.created_at }}
      </div>
  </div>
</div>
  
  <div class="container mb-3">
    <div class="row">
      <div class="col">
      <strong>Кем редактировалось</strong>
      </div>
      <div class="col">
        {{ object.editor.first_name }} {{ object.editor.last_name }}<br>
        {{ object.updated_at }}
      </div>
  </div>

  </div>


<div class="container text-center">
  <a href="{{action}}" class="btn btn-primary">Редактировать</a>

</div>

{% endblock content %}