<div class="container mb-5">
    <div class="row">
      <div class="col">
      <strong>Файлы</strong>
      </div>
      <div class="col">
        {% for file in object.foto_set.all %}
        
        <a href="{% url 'file:get-foto' file.filename %}" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">{{file.original_name}}</a> - фотография <br>
        {% if user.is_superuser %}<a href="#{{file.filename}}" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" data-bs-toggle="modal">Удалить</a>
          {% include "_modal_foto_warning.html" %}<br>
          {% endif %}
        {% endfor %}
        {% for file in object.file_set.all %}
        <a href="{% url 'file:get' file.filename %}" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">{{file.original_name}}</a> - другой файл <br>
        {% if user.is_superuser %}<a href="#{{file.filename}}" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" data-bs-toggle="modal">Удалить</a>
        {% include "_modal_file_warning.html" %}<br>
          {% endif %}  
        {% endfor %}
      </div>
  </div>
  </div>