<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1"/>

    
    {% block styles %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles/sidebars.css' %}">
    <link rel="stylesheet" href="{% static 'styles/sticky-footer.css' %}">
    {% endblock styles %}
    <title>
        {% if title %}

        {{title}} | Архитектурная археология

        {% else %}

        Архитектурная археология
        
        {% endif %}
    
    </title>









    {% endblock head %}
  </head>
  <body class="d-flex flex-column" style="min-height: 100vh">



      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom bg-body-tertiary">
        <div class="container-fluid">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
          <svg class="bi me-2" width="60" height="48"><image href="{% static 'images/main-logo.svg' %}" alt="ArchArch" width="60" height="48"/></svg>
          <span class="fs-5">Архитектурная археология</span>
        </a>
      </div>
      </header>








      
        <div class="row flex-grow-1" style="width:100%">

          
            <div class="flex-shrink-0 p-3" style="width: 280px;">
              
                <ul class="list-unstyled ps-0">
                  {% if user.is_authenticated %}
                  <a href="{% url 'arch_site:list' %}" class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed mb-1" aria-expanded="false">
                    Памятники
                  </a>
                  <a href="{% url 'building:list' %}" class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed mb-1" aria-expanded="false">
                    Постройки
                  </a>
                  <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#artworks-collapse" aria-expanded="false">
                      Фрески
                    </button>
                    <div class="collapse" id="artworks-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="{% url 'artwork:list-indoorartwork' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Изображения в постройке</a></li>
                        <li><a href="{% url 'artwork:list-frescoe' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Индивидуальные фрески</a></li>
                        <li><a href="{% url 'artwork:list-lotok' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Лотки</a></li>
                      </ul>
                    </div>
                  </li>
                  <a href="{% url 'artefact:list' %}" class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed mb-1" aria-expanded="false">
                    Находки
                  </a>

                  <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#measurements-collapse" aria-expanded="false">
                      Измерения
                    </button>
                    <div class="collapse" id="measurements-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="{% url 'measurement:list-rfa' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">РФА</a></li>
                        <li><a href="{% url 'measurement:list-scanningelectronmicroscopy' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Растровая электронная микроскопия</a></li>
                        <li><a href="{% url 'measurement:list-gaschromatographymassspectrometry' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">ГХ-МС</a></li>
                        <li><a href="{% url 'measurement:list-infraredramanmicroscopy' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">ИК и рамановская спектроскопия</a></li>
                        <li><a href="{% url 'measurement:list-roentgen' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Рентгенофазовый и рентгеноструктурный анализы</a></li>
                        <li><a href="{% url 'measurement:list-petrography' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Петрография</a></li>
                    </ul>
                    </div>
                  </li>
                  {% endif %}
                  <a href="{% url 'map:map' %}" class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" aria-expanded="false">
                    Карта
                  </a>

                  <li class="border-top my-3"></li>
                  {% if user.is_authenticated %}
                  {% comment %}
                  <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                      Личный кабинет
                    </button>
                    <div class="collapse" id="account-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Профиль</a></li>
                        <li>
                          <div class="form-group">
                            <form method="post" action="{% url 'logout' %}">
                              {% csrf_token %}
                              <button type='submit' value="submit" class="btn link-body-emphasis d-inline-flex text-decoration-none rounded">Выход</button>
                            </form>
                          </div>
      

                        </li>
                        
                      </ul>
                    </div>
                  </li>
                  {% endcomment %}
                  {% if user.is_superuser %}
                  <a href="{% url 'admin:index' %}" class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed mb-1" aria-expanded="false">
                    Админка
                  </a>
                  {% endif %}
                  <li>
                    <div class="form-group">
                      <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type='submit' value="submit" class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed">Выход</button>
                      </form>
                    </div>


                  </li>
                  {% else %}
                  <li class="mb-1">

                      <a href="{% url 'login' %}" class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed">Вход</a>

                  </li>
                  {% endif %}
                </ul>
              </div>


              <div class="col py-3">
                {% if messages %}
                
<ul class="messages">
    {% for message in messages %}
    <div class="row">
        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible text-center center-block fade show mx-auto w-50"
            role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            </button>
        </div>
    </div>
    {% endfor %}
</ul>

{% endif %}

                {% block content %}{% endblock content %}
              </div>
              </div>
     



    
    {% block footer %}

    <footer class="footer mt-auto bg-light">

      <div class="d-flex flex-column flex-sm-row justify-content-between my-3 mx-3 border-top">

          <p>© 2024 Институт археологии РАН</p>
          <ul class="list-unstyled d-flex">
              <li class="ms-3"><a class="link-body-emphasis" href="https://archaeolog.ru/" target="_blank" id="ia-ras-logo"><img src="{% static 'images/ia-ras-logo.png' %}" width="64" height="64"></a></li>
              <li class="ms-3"><a class="link-body-emphasis" href="https://archaeolog.ru/ru/scientific-departments/laboratoriya-arkhitekturnoy-arkheologii" target="_blank" id="ia-ras-logo"><img src="{% static 'images/aa-lab-logo.jpeg' %}" width="64" height="64"></a></li>
          </ul>

        </div>
  </footer>

    {% endblock %}
    {% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
        integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/sidebars.js' %}"></script>
        
    {% endblock scripts %}
  </body>
</html>