<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block styles %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    {% load static %}

    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    {% endblock styles %}
    <title>
        {% if title %}

        Architecture Archaeology - {{title}}

        {% else %}

        Architecture Archaeology
        
        {% endif %}
    
    </title>
    {% endblock head %}
  </head>
  <body>
    <nav class="navbar bg-body-tertiary">
        <div class="container">
          <a class="navbar-brand" href="/">
            <img src="{% static 'images/main-logo.svg' %}" alt="Bootstrap" width="60" height="48">
          </a>
          <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-5 d-none d-sm-inline text-dark">Архитектурная археология</span>
        </a>
      </nav>

    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">

                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">




                        <div class="button-group">
                        
                        <a href="{% url 'arch_site:list' %}" class="btn btn-dark btn-lg d-block">Памятники</a>

                        <a href="{% url 'building:list' %}" class="btn btn-dark btn-lg d-block">Постройки</a>

                        <div class="dropdown">
                            <button class="btn btn-dark dropdown-toggle btn-lg" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Изображения
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'artwork:list-indoor' %}">Изображения в постройке</a></li>
                                <li><a class="dropdown-item" href="{% url 'artwork:list-frescoe' %}">Фрески</a></li>
                                <li><a class="dropdown-item" href="#">Лотки</a></li>
                              </ul>
                          </div>
                          <a href="{% url 'artefact:list' %}" class="btn btn-dark btn-lg d-block">Находки</a>
                        </div>

                    </ul>







                    <!-- <hr>
                    <div class="dropdown pb-4">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                            <span class="d-none d-sm-inline mx-1">loser</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                            <li><a class="dropdown-item" href="#">New project...</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Sign out</a></li>
                        </ul>
                    </div> -->
                </div>
            </div>
            <div class="col py-3">
                {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
                {% block content %}{% endblock content %}

            </div>

        </div>
    </div>
    
    <div>

    </div>
    {% block footer %}
    <div class="text-center">
    <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-50 link-underline-opacity-75-hover" href="https://archaeolog.ru/ru/scientific-departments/laboratoriya-arkhitekturnoy-arkheologii">
    Лаборатория архитектурной археологии
    </a>
    <br>
    <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-50 link-underline-opacity-75-hover" href="https://archaeolog.ru/">
    Институт археологии РАН
    </a>
</div>
    {% endblock %}
    {% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
        integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
        crossorigin="anonymous"></script>
    {% endblock scripts %}
  </body>
</html>