{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container text-center mb-5">

    <h2> {{title}} </h2>
</div>

<div class="container text-center">
{% if filter.form %}

  <a class="btn btn-primary" data-bs-toggle="offcanvas" aria-current="page" href="#searchFilter" aria-controls="searchFilter">Фильтр</a>
  <a href="{{base_url}}" class="btn btn-primary">Сбросить фильтр</a>
<div class="offcanvas offcanvas-end" tabindex="-1" id="searchFilter" aria-labelledby="searchFilterLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="searchFilterLabel">Поисковый фильтр</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
        {% with filter.form as form and 'get' as method %}
        {% include '_filter-form.html' %}
        {% endwith %}
    </div>
  </div>
</div>
{% endif %}


<a href="{{action}}" class="btn btn-primary">Добавить новый</a>

</div>


<br>
<div class="container-fluid">
{% for obj in objects %}






<div class="card mt-3">
    <div class="card-body">
      <div class="row">
        
        <div class="left-content col-lg-auto">
          <img src="{% if obj.foto_set.all %}{% url 'file:get-foto' obj.foto_set.all.0 %}{% else %}{% url 'file:get-default-image' model_name %}{% endif %}" class="object-fit-contain border rounded" alt="Pic" width="200" height="150">
      </div>
      
      <div class="right-content col-lg">

        <h5 class="card-title"><a href="{{obj.get_absolute_url}}" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">{{obj}}</a></h5>
        {% if obj.region %}
        <p class="card-text">{{obj.region}}</p>
        {% endif %}
        {% if obj.site %}
        <p class="card-text">{{obj.site}}</p>
        {% endif %}
        {% if obj.parent_obj %}
        <p class="card-text">{{obj.parent_obj}}</p>
        {% endif %}
        {% if obj.year_min %}
        <p class="card-text">Датировка: {{obj.dating}}</p>
        {% endif %}
        {% if obj.description %}
        <p class="card-text">{{obj.description|truncatewords:50}}</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endfor %}
</div>



{% if objects %}
<div class="pagination mt-3 container text-center">
  <span class="step-links">
      {% if page_obj.has_previous %}
        {% if 'csrfmiddlewaretoken' in request.get_full_path %}
          <a href="{{ request.get_full_path }}&page=1">&laquo; первая</a>
          <a href="{{ request.get_full_path }}&page={{ page_obj.previous_page_number }}">предыдущая</a>
        {% else %}
        <a href="?page=1">&laquo; первая</a>
          <a href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
          {% endif %}
      {% endif %}

      <span class="current">
          Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
      {% if 'csrfmiddlewaretoken' in request.get_full_path %}
          <a href="{{ request.get_full_path }}&page={{ page_obj.next_page_number }}">следующая</a>
          <a href="{{ request.get_full_path }}&page={{ page_obj.paginator.num_pages }}">последняя &raquo;</a>
          {% else %}
          <a href="?page={{ page_obj.next_page_number }}">следующая</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">последняя &raquo;</a>
          {% endif %}
      {% endif %}
  </span>
</div>
{% endif %}

{% endblock content %}