{% extends "base.html" %}
{% block content %}
<div class="container text-center mb-5">
    
        <h1>Добро пожаловать на портал Архитектурная Археология</h1>
    

</div>
<div class="container mb-5">
    Общая научная проблема, лежащая в основе проекта, направлена на всестороннее междисциплинарное изучение Георгиевского собора Юрьева монастыря в Великом Новгороде – выдающегося памятника древнерусской культуры, входящего в список мирового наследия ЮНЕСКО. Центральными объектами изучения должны стать исключительные по своему художественному качеству и технике исполнения фресковые росписи собора первой трети XII в. и материальная культура княжеского монастыря, которая включает в себя архитектуру, монументальную станковую живопись (иконы), манускрипты, строительные материалы, погребальные сооружения и комплекс археологических находок. В ходе реализации предлагаемого проекта впервые будут определены методы и методики изучения взаимосвязи материальной составляющей, детализированной при помощи точных научных методов, и высокого качества художественного ансамбля Георгиевского собора Юрьева монастыря.

</div>
<div class="container">
Основной целью планируемого научного исследования является всестороннее изучение росписей Георгиевского собора Юрьева монастыря в Новгороде, проведенное с привлечением широкого круга аналогий. Целями исследования является получение обширного фонда естественнонаучных данных о составе штукатурки и пигментах росписи. Кроме того, целью данного исследования является постановка этих данных, полученных естественнонаучными методами, в контекст истории, истории искусства, архитектуры и истории материальной культуры. Исторический и археологический контекст, в рамках которого предлагается изучить росписи, дадут антропологические, археологические, архитектурные натурные исследования. Взаимодействие с этими дисциплинами – одна из важнейших целей исследования. Авторский коллектив видит в качестве важнейшей цели изучения фресок их публикацию и скорейшее введение в научный оборот.
</div>


{% endblock content %}